<h1>Sign in using your password</h1>

<%= form_tag signin_password_path, method: :post do %>
  <%= hidden_field_tag :signin_id, @signin_id %>
  <%= label_tag :password, "Password" %>
  <%= password_field_tag :password, nil, required: true %>
  <div>
    <%= button_tag "Sign in" %>
  </div>
<% end %>