<h1>Your account</h1>

<p><%= link_to "Log out", account_logout_path %></p>
<p>Email: <%= @user.email %></p>

<h3>Passkeys</h3>

<div data-controller="webauthn" data-webauthn-options-value="<%= @webauthn_options %>">
  <button data-action="click->webauthn#register"
    >Add a passkey</button>
</div>

<% @user.credentials.each do |c| %>
<p><strong><%= c.name || "Your passkey ##{c.id}" %></strong> | <%= link_to "Remove", account_remove_passkey_url(id: c.id) %></p>
<% end %>
